@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Attention!</h1>
    <p>All parts of the work is seperated by endpoints, links in the header route to them!</p>
</div>
